
body {
  margin-right: 400px;
  margin-left: 400px;
}

p {
    font-family: monospace;
    font-size: 20px;
}
h1 {
    font-family: Cursive;
}
#soccer {
   
    width: 800px;
}
#Volleyball {
    float: right;
    height: 500px;
}
#Cole {
    float: left;
    margin: 10px;
    height: 300px;
}
#College {
    margin-bottom: 10px;
    background-color: grey;
    display: inline-block;
}
